#===============================================
# the below is meant to get rid of binaries
#===============================================

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#
!*Makefile*

#===============================================
# below here I ignore some specific cases
#===============================================

# ignore some directories
playground/
*tmp*

# ignore specific file extensions
junit.xml
common_software/dic*
fitter_software/dic*
tests/roofit_example/dic*
*.so
*~
*_C.d
*.pcm
*.rootmap
*.dat
*.root
*.pdf
*.png
*.txt
*.csv
